.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}

.section__title {
    margin-bottom: 30px;
    
    @include font(28px, null, 1.17, null);
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        @include font(36px, null, 1.16, null);
    }
    
    
}