$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$dark-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$button-primary-hover: #188ce8;
$border-bottom-color: #ececec;
$border-project: #eeeeee;
$color-icon: #afb1b8;